# Ignore executables
server
tests/test_server
tests/run_tests
tests/run_integration

# VS Code directories
.vscode/
.vscode-test/

# Data directory
data/

# All bruno files
bruno/
bruno/*

# Json files
settings.json
sensor_data.json

# log files
triggers.log