# Ignore executables
server
tests/test_server
tests/run_tests

# VS Code directories
.vscode/
.vscode-test/

# Data directory
data/

# All bruno files
bruno/
bruno/*

# Settings file
settings.json

# log files
triggers.log